.print_height {
  height: 100%;
}

.shipping_bg .ant-layout-content {
  margin: 0 !important;
  padding: 0 24px !important;
  background: #f2f2f2 !important;
  min-height: auto !important;
}

.shipping_table {
  margin-bottom: 40px;
}

.shipping_table:last-child {
  margin-bottom: 0px;
}

.shipping_table .ant-table-content {
  max-height: 700px;
  overflow-y: scroll !important;
}

.shipping_table .ant-table-content::-webkit-scrollbar {
  display: none;
}

.shipping_table h5 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #272727;
  font-family: 'Argent CF';
  margin-bottom: 0px;
  letter-spacing: 1px;
}

.shipping_table .table_main_text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #282726;
  font-family: 'Gilroy';
  margin-bottom: 20px;
  display: inline-block;
}

.shipping_table .table_item span {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #282726;
  font-family: 'Gilroy';
  display: inline-block;
}

.shipping_table .ant-table-thead>tr>th {
  background-color: #fff;
  border-bottom: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #6b6b6b;
  font-family: 'Gilroy';
}

.shipping_table .ant-table-thead>tr>th:first-child {
  padding-left: 100px;
}

.shipping_table .ant-table-tbody>tr>td {
  border-bottom: 0;
  background-color: #f2f2f2;
}

.ant-table table {
  padding: 0 20px;
  background: #fff;
}

table tbody.ant-table-tbody tr td {
  border-bottom: 20px solid #fff !important;
}

/* table tbody.ant-table-tbody tr:nth-child(even) td{
    background-color: red;
} */
.table_item_image {
  display: flex;
  align-items: center;
}

.table_item_image img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin-right: 15px;
}

.table_item_image p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #282726;
  font-family: 'Gilroy';
  margin-bottom: 0;
}

.table_item {
  display: flex;
}

.table_item p {
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
  font-weight: 400;
  color: #ff0000;
  font-family: 'Gilroy';
  margin-bottom: 0;
}

.table_tracking {
  display: flex;
  align-items: center;
}

.table_tracking input {
  width: 40%;
  margin-right: 10px;
  height: 53px;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.table_tracking button {
  background: var(--unnamed-color-fca311) 0% 0% no-repeat padding-box;
  background: #fca311 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 9px #00000029;
  opacity: 1;
  font-size: 20px;
  height: 53px;
  line-height: 29px;
  font-weight: 700;
  color: #272727;
  font-family: 'Gilroy';
}



.active_table .table_tracking .ant-image {
  margin-left: 10px;
}

.active_table span.anticon.anticon-edit {
  margin-left: 15px;
}

table tbody.ant-table-tbody tr.oder_row td {
  background-color: #fff !important;
  border-bottom: 20px solid #f2f2f2 !important;
}

.oder-outer .ant-table table {
  background-color: #f2f2f2 !important;
}

.oder-outer .ant-table-thead {
  display: none;
}

.oder-outer .ant-table-content {
  max-height: 783px !important;
  overflow-y: scroll !important;
}

.oder-outer .table_item_image .table_item_img img {
  height: 135px;
}

.purchase-history table tbody.ant-table-tbody tr.oder_row td {
  background-color: #f2f2f2 !important;
  border-bottom: 20px solid #fff !important;
}

.disputes-table table tbody.ant-table-tbody tr.oder_row td {
  background-color: #f2f2f2 !important;
  border-bottom: 20px solid #fff !important;
}

.watchlist table .ant-table-thead {
  display: none;
}

.my-order table .ant-table-thead {
  display: none;
}

.bids-table table .ant-table-thead {
  display: none;
}

.bids-table .ant-table table {
  padding: 0 0px;
  background: #fff;
}

.my-order .ant-table table {
  padding: 0 0px;
  background: #fff;
}

.watchlist .ant-table table {
  padding: 0 0px;
  background: #fff;
}

.purchase-history .leave_btn {
  margin-top: 0;
}

@media only screen and (max-width: 1600px) {
  .shipping_table h5 {
    font-size: 18px;
    line-height: 24px;
  }

  .table_tracking input {
    height: 37px;
    width: 33%;
  }

  .shipping_table .ant-table-thead>tr>th:nth-child(3) {
    width: 320px;
  }

  .tracking-table .ant-table-thead>tr>th:nth-child(3) {
    width: auto;
  }

  .table_item p {
    font-size: 16px;
  }

  .table_tracking button {
    height: 37px;
    font-size: 16px;
    line-height: 22px;
  }

  .seller_sidebar .ant-menu-item {
    padding-left: 45px !important;
  }

  .table_item_image p {
    font-size: 16px;
  }

  .oder-outer .table_item_image .table_item_img img {
    height: 95px;
  }
}


@media only screen and (max-width: 1440px) {
  .print_sec {
    padding: 47px 45px 20px 45px;
  }

  .shipping_table .table_main_text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .tracking-table .ant-table table {
    width: 770px !important;
  }

  .shipping_table h5 {
    font-size: 18px;
    line-height: 24px;
  }

  .shipping_table .ant-table-thead>tr>th:first-child {
    padding-left: 0;
    width: 410px;
  }

  .active_table .ant-table-thead>tr>th:first-child {
    padding-left: 0;
    width: 300px;
  }

  .table_tracking input {
    height: 37px;
    width: 43%;
  }

  .shipping_table .ant-table-thead>tr>th:nth-child(2) {
    width: 290px;
  }

  .shipping_table .ant-table-thead>tr>th:nth-child(3) {
    width: 755px;
  }

  .shipping_table .ant-table-thead>tr>th:nth-child(4) {
    width: 118px;
    padding-left: 0;
    text-align: end;
  }

  .shipping_table .ant-table-tbody>tr>td:nth-child(3) {
    padding-right: 0;
  }

  .shipping_table .ant-table-tbody>tr>td:nth-child(4) {
    text-align: end;
  }

  .tracking-table .ant-table-thead>tr>th:nth-child(2) {
    width: auto;
  }

  .tracking-table .ant-table-thead>tr>th:nth-child(3) {
    width: auto;
  }

  .tracking-table .ant-table-thead>tr>th:nth-child(4) {
    width: auto;
  }

  .table_item p {
    font-size: 14px;
  }

  .table_tracking button {
    height: 37px;
    font-size: 14px;
    line-height: 20px;
  }

  .ant-table table {
    padding: 0 20px;
  }

  .shipping_bg .ant-layout-content {
    padding: 0 14px !important;
  }

  .shipping_table .ant-table-content {
    max-height: 505px;
    overflow-y: scroll !important;
  }

  .bids_table_field {
    padding-right: 19px !important;
  }

  .my-order.active_table .ant-table-thead>tr>th:first-child {
    padding-left: 0;
    width: 550px;
  }

  .my-order.shipping_table .ant-table-thead>tr>th:nth-child(3) {
    width: 185px;
  }

  .purchase-history .leave_btn {
    margin-top: 0 !important;
  }

  .bids-table.active_table .ant-table-thead>tr>th:first-child {
    padding-left: 0;
    width: 550px;
  }

  .bids-table.shipping_table .ant-table-thead>tr>th:nth-child(3) {
    width: 185px;
  }

}

@media only screen and (max-width: 1200px) {
  .shipping_table h5 {
    font-size: 20px;
  }

  .shipping_table .table_main_text {
    font-size: 16px;
    line-height: 22px;
  }

  .table_tracking input {
    height: 43px;
  }

  .table_tracking button {
    height: 43px;
  }

  table tbody.ant-table-tbody tr td {
    border-bottom: 10px solid #fff !important;
  }

  .shipping_table .ant-table-content {
    max-height: 670px;
    overflow-y: scroll !important;
  }
}

@media only screen and (max-width: 991px) {
  .dashborad_main {
    width: 100% !important;
  }

  .buyer_header_right {
    display: none;
  }

  .shipping_bg .ant-layout-content {
    padding: 0 15px !important;
  }

  .shipping_table .ant-table-content table {
    width: 950px !important;
  }

  .tracking-table .ant-table table {
    width: 950px !important;
  }

  .disputes-table .ant-table table {
    width: 790px !important;
  }

  .disputes-table .ant-table-thead>tr>th:nth-child(3) {
    width: 175px;
  }

  .shipping_table {
    padding: 20px 0;
  }
}