.forget_pasw {
  max-width: 520px;
  margin: 0 auto;
  padding-top: 113px;
  min-height: 100vh;
}
.forget_head {
  margin-bottom: 100px;
}
.forget_head h3 {
  font-size: 30px;
  line-height: 36px;
  color: #272727;
  font-weight: 700;
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
}
.forget_data {
  width: 100%;
}
.forget_data input {
  height: 53px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 5px;
}
.forget_data input:hover {
  border-color: #707070 !important;
}
.forget_data input:focus {
  border-color: #707070 !important;
  box-shadow: none;
}
.forget_data .ant-btn {
  background: #fca311 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 9px #00000029;
  border-color: transparent;
  width: 100%;
  font: normal normal normal 24px/35px Gilroy-Bold;
  letter-spacing: 0px;
  color: #14223d;
  font-size: 24px;
  border-radius: 5px;
  line-height: 35px;
  text-align: center;
  font-weight: 700;
  min-height: 67px;
  margin: 25px 0 50px;
}
.forget_data p {
  font-size: 14px;
  line-height: 20px;
  color: #6b6b6b;
  font-weight: 400;
  margin: 0 auto;
  max-width: 480px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .forget_pasw {
    max-width: 100%;
    margin: 0 auto;
    padding: 70px 15px;
    height: 100vh;
  }
  .forget_data {
    max-width: 100%;
    padding: 0px 0px;
  }
  .forget_data h3 {
    font-size: 20px;
    line-height: 25px;
  }
  .forget_data p {
    font-size: 16px;
    line-height: 22px;
  }
  .forget_head {
    margin-bottom: 70px;
  }
}
