@media only screen and (max-width: 1440px) {
    .sold-table .ant-table-thead > tr > th:first-child {
        padding-left: 0;
        width: 260px;
    }
    .sold-table .ant-table-thead>tr>th:nth-child(2) {
        width: 130px;
    }
    .sold-table .ant-table-thead>tr>th:nth-child(3) {
        width: 195px;
    }
    .sold-table .ant-table-thead>tr>th:nth-child(4) {
        width: 138px;
        padding-left: 0;
        text-align: start;
    }
    .sold-table .ant-table-thead > tr > th {
        font-size: 14px;
        line-height: 19px;
    }
    .sold-table .table_tracking .ant-image-img{
        width: 29px;
    }
}