
.review_header .buyer_header_left h5{
    font-size: 30px;
    line-height: 40px;
    color: #282726;
    font-weight: 700;
    font-family: 'Gilroy';
    margin-right: 10px;
}
.review_header .buyer_header_left p{
    font-size: 16px;
    line-height: 21px;
    color: #282726;
    font-weight: 400;
    font-family: 'Gilroy';
    margin-right: 10px;
    margin-bottom: 0px;
}
.review_header .buyer_header_right {
    height: 68px;
}
.review .disputed_item_info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 15px;
}
.review_rating {
    display: flex;
}
.review_rating .ant-typography {
    font-size: 20px;
    line-height: 27px;
    color: #282726;
    font-weight: 400;
    font-family: 'Gilroy';
    margin-right: 10px;
    margin-bottom: 0;
}
.review_item .ant-typography {
    font-size: 20px;
    line-height: 27px;
    color: #282726;
    font-weight: 400;
    font-family: 'Gilroy';
    margin-bottom: 0;
}
.review_text .ant-typography {
    font-size: 20px;
    line-height: 27px;
    color: #282726;
    font-weight: 400;
    font-family: 'Gilroy';
    margin-bottom: 20px;
}
.reviewed_text .ant-typography {
    font-size: 16px;
    line-height: 21px;
    color: #282726;
    font-style: italic;
    font-weight: 400;
    font-family: 'Gilroy';
    margin-bottom: 0px;
}
.report_text {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
}
.report_text .ant-typography {
    font-size: 18px;
    line-height: 24px;
    color: #6B6B6B;
    font-weight: 700;
    font-family: 'Gilroy';
    margin-bottom: 0px;
    margin-right: 15px;
}
.review .disputed_list_img {
    margin: 10px 0;
}
.review .disputed_list_img img{
    width: 136px;
    border-radius: 5px;
}
/*-----------------media_query-------------*/
@media only screen and (max-width: 1440px) {
    .review_header .buyer_header_left h5{
        font-size: 19px;
        line-height: 26px;
    }
    .review_header .buyer_header_left p{
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 0;
    }
    .review_header .buyer_header_right {
        height: 57px;
    }
    .review_rating .ant-typography {
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
    }
    .review_item .ant-typography {
        font-size: 12px;
        line-height: 16px;
    }
    .review_text .ant-typography {
        font-size: 12px;
        line-height: 16px;
    }
    .reviewed_text .ant-typography {
        font-size: 9px;
        line-height: 16px;
    }
    .report_text .ant-typography {
        font-size:11px;
        line-height: 16px;
    }
    .review .disputed_list_img img{
        width: 88px;
    }
    .review_header .buyer_header_right {
        height: 47px;
    }
    .review_rating .react-stars span {
        font-size: 24px !important;
    }
}
@media only screen and (max-width: 991px) {
    .review_header .buyer_header_right {
        display: block;
    }
}
@media only screen and (max-width: 640px) {
.review_rating {
    display: flex;
    flex-wrap: wrap;
}
.buyer_header_left {
    height: auto; 
    flex-wrap: wrap;
}
.review_rating .react-stars span {
    margin-bottom: 3px;
}
}