.catagories_main_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 12px 13px 52px;
}
.main_head_left {
  width: 52%;
}
.main_head_left h5 {
  font-size: 30px;
  line-height: 36px;
  color: #272727;
  font-weight: 700;
  margin: 0;
}

.main_head_right {
  display: flex;
  align-items: center;
  width: 48%;
  justify-content: flex-end;
}
.main_head_right .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  margin-bottom: 0;
}
.main_head_right .catagories_drp {
  margin-right: 34px;
}
.main_head_right .catagories_drp .ant-select-selector {
  margin-bottom: 0;
  width: 189px;
  height: 46px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 5px;
}
.main_head_right .menu_icon {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-right: 10px;
  opacity: 0.5;
}
.main_head_right .menu_icon.active_grid_icon {
  opacity: 1;
}
.catagories_drp .ant-select-selection-item {
  display: flex;
  align-items: center;
}
/*-------------------media_query--------------------------*/
@media only screen and (max-width: 1600px) {
  .main_head_left h5 {
    font-size: 19px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 1440px) {
  .main_head_right .catagories_drp {
    margin-right: 9px;
  }
  .main_head_right .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    margin-bottom: 0;
    width: 190px;
    height: 44px;
  }
}
@media only screen and (max-width: 1366px) {
  .main_head_right .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 31px;
}
}
@media only screen and (max-width: 1200px) {
  .catagories_main_head {
    flex-wrap: wrap;
  }
  .main_head_left {
    width: 100%;
    margin-bottom: 10px;
  }
  .main_head_right {
    width: 100%;
  }
  .main_head_right .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 200px;
  }
  .pagenition_text h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .pagention_imge img {
    height: auto;
  }
  .pagination .ant-pagination-next {
    width: 240px;
    height: 53px;
  }
  .pagination .ant-pagination-next .ant-pagination-item-link::before {
    font-size: 26px;
    line-height: 25px;
  }
  .conition_list .conition_item span {
    line-height: 21px;
  }
}
@media only screen and (max-width: 768px) {
  .catagories_main_head {
    padding: 13px 12px 13px 15px;
  }
}
@media only screen and (max-width: 640px) {
  .main_head_right .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 170px;
  }
}
@media only screen and (max-width: 480px) {
  .main_head_right .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 120px;
  }
}
